<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootswatch.min.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootswatch.min.css">
  <link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="/css/style.css">

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <script src="/bower_components/ngSweetAlert/SweetAlert.min.js"></script>
  <script src="/js/bundle.js"></script>

</head>
<body ng-app='myApp' ng-controller='mainCtrl'>
  <div class="container">


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <p class="navbar-text navbar-left">Hello   <em class="textName">{{currentUser.username}}</em></p>
        <ul class="nav navbar-nav navbar-right">

          <li><a class="active" ui-sref='home'>HOME</a></li>
          <li><a ng-show="currentUser" class="btn" ui-sref='profile'>MY FAVORITE</a></li>
          <li><a ng-show="currentUser" class="btn" ui-sref='addYelp'>YELP</a></li>
          <li><a ng-hide="currentUser" class="btn" ui-sref='login'>Login</a></li>
          <li><a ng-hide="currentUser" class="btn" ui-sref='register'>Register</a></li>
          <li><a ng-show="currentUser" class="btn" ui-sref='register' ng-click="logout()">LogOut</a></li>
      </div>
    </nav>
    <br>
    <br>

    <br>
    <div class="alert alert-danger text-center">
      <h1>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-o fa-stack-2x"></i>
          <i class="fa fa-yelp fa-spin fa-stack-1x"></i>
        </span>
        <%= title %>
      </h1>
    </div>


    <div ui-view></div>

  </div>
</body>
</html>
